version: '3'

services:
  web:
    container_name: ismmmo-web-prod
    image: ykaratas421/ismmmo-web:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=file:/app/db/prod.db
      - FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}
      - FIREBASE_CLIENT_EMAIL=${FIREBASE_CLIENT_EMAIL}
      - FIREBASE_PRIVATE_KEY=${FIREBASE_PRIVATE_KEY}
    env_file:
      - .env
    volumes:
      - ./web/db:/app/db
      - ./web/public/uploads:/app/public/uploads

  migrator:
    container_name: ismmmo-migrator
    image: ykaratas421/ismmmo-web:latest
    command: sh -c "npx prisma db push --accept-data-loss && npx prisma db seed"
    environment:
      - DATABASE_URL=file:/app/db/prod.db
    volumes:
      - ./web/db:/app/db
